@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: #333;
  }

  h1, h2, h3, h4, h5, h6, strong, b {
    color: #fff;
  }

  .post-link, .post-link:visited {
    color: #eee;
  }

  .site-title, .site-title:visited, .pagination a, .pagination a:visited {
    color: #dbd4d4;
  }

  .site-nav .page-link {
    color: #eee;
  }

  .site-footer {
    color: #9b9b9b;
  }

  .user-toc {
    background-color: #333;
  }

  .highlighter-rouge {
    filter: invert(90%) hue-rotate(180deg) brightness(100%) contrast(100%);
    color: #111;
  }

  .you-name {
    filter: invert(90%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }

  .typo em {
    color: #ccc;
  }

  a:visited {
    color: #aac1dd;
  }
}